<a href="https://colab.research.google.com/github/InwARMSelviAXE/bsc_dpdm22/blob/main/Group_Quiz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

เตรียมข้อมูลของ กรม อุตุ ([link](https://drive.google.com/drive/folders/1k6tJcTTv2bKmFz6A5oOWi-sAeTVIQpG4?usp=sharing)) ให้อยู่ในรูปแบบ ตารางด้านล่าง เพื่อเตรียมข้อมูลสำหรับสร้าง Model ทำนาย อุณภูมิต่ำสุดของวันจากค่าอื่นๆ

![Screen Shot 2566-01-11 at 09.36.17.png]()

In [4]:
# ความกด
kkbara = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความกด(เปอร์เซนต์)/จ.ขอนแก่น (2).xlsx',sheet_name=0,skiprows=4)
npbara = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความกด(เปอร์เซนต์)/จ.นครพนม (2).xlsx',sheet_name=0,skiprows=4)
lbara = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความกด(เปอร์เซนต์)/จ.เลย (2).xlsx',sheet_name=0,skiprows=4)
skbara = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความกด(เปอร์เซนต์)/จ.สกลนคร.xlsx',sheet_name=0,skiprows=4)
nkbara = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความกด(เปอร์เซนต์)/จ.นครพนม (2).xlsx',sheet_name=0,skiprows=4)

In [5]:
kkbara.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
npbara.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
lbara.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
skbara.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nkbara.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [6]:
# ความชื้นสัมพัทธ์
kkhr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความชื้นสัมพัทธ์(เปอร์เซนต์)/จ.ขอนแก่น (5).xlsx',sheet_name=0,skiprows=4)
nphr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความชื้นสัมพัทธ์(เปอร์เซนต์)/จ.นครพนม (5).xlsx',sheet_name=0,skiprows=4)
lhr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความชื้นสัมพัทธ์(เปอร์เซนต์)/จ.เลย (5).xlsx',sheet_name=0,skiprows=4)
skhr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความชื้นสัมพัทธ์(เปอร์เซนต์)/จ.สกลนคร (3).xlsx',sheet_name=0,skiprows=4)
nkhr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความชื้นสัมพัทธ์(เปอร์เซนต์)/จ.หนองคาย (5).xlsx',sheet_name=0,skiprows=4)

In [7]:
kkhr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nphr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
lhr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
skhr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nkhr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [8]:
# ความเร็วลม
kkn = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความเร็วลม(นอต)/จ.ขอนแก่น (4).xlsx',sheet_name=0,skiprows=4)
npn = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความเร็วลม(นอต)/จ.นครพนม (4).xlsx',sheet_name=0,skiprows=4)
ln = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความเร็วลม(นอต)/จ.เลย (4).xlsx',sheet_name=0,skiprows=4)
skn = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความเร็วลม(นอต)/จ.สกลนคร (2).xlsx',sheet_name=0,skiprows=4)
nkn = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ความเร็วลม(นอต)/จ.หนองคาย (4).xlsx',sheet_name=0,skiprows=4)

In [9]:
kkn.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
npn.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
ln.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
skn.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nkn.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [10]:
# จำนวนเมฆ
kkc = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/จำนวนเมฆ(10ส่วน)/จ.ขอนแก่น (3).xlsx',sheet_name=0,skiprows=4)
npc = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/จำนวนเมฆ(10ส่วน)/จ.นครพนม (3).xlsx',sheet_name=0,skiprows=4)
lc = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/จำนวนเมฆ(10ส่วน)/จ.เลย (3).xlsx',sheet_name=0,skiprows=4)
skc = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/จำนวนเมฆ(10ส่วน)/จ.สกลนคร (1).xlsx',sheet_name=0,skiprows=4)
nkc = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/จำนวนเมฆ(10ส่วน)/จ.หนองคาย (3).xlsx',sheet_name=0,skiprows=4)

In [11]:
lc = lc.iloc[:,:35]
lc

,Unnamed: 0,Unnamed: 1,Unnamed: 2,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,Unnamed: 34
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,8,10,10,9,8,10,10,...,1,1,2,4,2,3,3,1,2,5.387097
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,2,1,2,1,1,1,2,...,6,4,0,1,2,2,5,3,-,2.333333
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,1,3,1,3,3,2,3,...,3,1,1,0,0,1,1,4,1,2.354839
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,1,1,3,6,6,2,1,...,2,4,6,5,1,2,4,9,8,3.870968
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,8,5,10,7,1,0,-,...,-,-,-,0,1,3,-,3,-,2.809524
5,3,353301-เลย สกษ. จ.เลย,2012-10-01,2,1,4,4,6,7,6,...,2,2,2,2,2,2,1,3,6,3.000000
6,4,353301-เลย สกษ. จ.เลย,2012-11-01,2,1,1,7,4,4,2,...,3,6,3,4,6,6,8,6,-,3.800000
7,5,353301-เลย สกษ. จ.เลย,2012-12-01,3,3,6,6,3,6,4,...,6,2,6,8,4,2,1,4,2,3.032258
8,6,353301-เลย สกษ. จ.เลย,2013-01-01,2,2,2,1,2,4,1,...,1,2,4,3,8,10,7,5,9,3.333333
9,7,353301-เลย สกษ. จ.เลย,2013-02-01,6,8,6,3,1,2,0,...,4,0,1,2,2,3,8,6,3,3.000000
10,8,353301-เลย สกษ. จ.เลย,2013-10-01,9,9,8,1,3,1,3,...,4,6,10,5,1,2,1,2,1,4.322581
11,9,353301-เลย สกษ. จ.เลย,2013-11-01,2,1,2,1,1,3,7,...,2,2,5,4,4,5,2,1,0,3.774194
12,10,353301-เลย สกษ. จ.เลย,2013-12-01,5,3,2,2,2,1,1,...,0,3,0,0,0,0,0,0,0,1.933333
13,11,353301-เลย สกษ. จ.เลย,2014-01-01,-,-,-,0,-,-,-,...,-,-,-,-,0,1,-,1,-,0.875000
14,12,353301-เลย สกษ. จ.เลย,2014-02-01,-,-,-,0,1,0,1,...,2,4,2,1,2,2,3,2,-,2.481481
15,13,353301-เลย สกษ. จ.เลย,2014-10-01,6,5,3,3,4,6,6,...,5,8,5,3,3,4,6,4,2,4.419355
16,14,353301-เลย สกษ. จ.เลย,2014-11-01,3,3,4,4,6,8,8,...,2,1,1,2,3,3,2,3,-,3.433333
17,15,353301-เลย สกษ. จ.เลย,2014-12-01,3,8,7,6,6,3,2,...,2,2,4,3,4,2,1,-,0,3.166667
18,16,353301-เลย สกษ. จ.เลย,2015-01-01,0,-,0,-,0,0,1,...,2,1,-,-,-,-,-,-,0,2.857143
19,17,353301-เลย สกษ. จ.เลย,2015-02-01,3,3,1,2,3,3,2,...,4,1,2,1,0,0,2,3,-,3.000000
20,18,353301-เลย สกษ. จ.เลย,2015-10-01,6,7,6,4,5,5,8,...,3,1,1,1,2,2,3,5,3,4.645161
21,19,353301-เลย สกษ. จ.เลย,2015-11-01,4,6,5,4,2,4,8,...,4,4,3,5,2,5,1,3,-,3.833333
22,20,353301-เลย สกษ. จ.เลย,2015-12-01,3,2,5,6,8,9,6,...,9,5,7,6,7,7,4,4,7,4.612903
23,21,353301-เลย สกษ. จ.เลย,2016-01-01,4,2,3,2,1,2,3,...,4,9,10,10,9,6,1,2,1,4.193548
24,22,353301-เลย สกษ. จ.เลย,2016-02-01,1,4,-,1,1,6,2,...,1,6,3,2,1,3,1,3,-,1.615385
25,23,353301-เลย สกษ. จ.เลย,2016-10-01,6,6,7,3,6,7,6,...,1,7,9,7,5,2,3,3,5,4.838710
26,24,353301-เลย สกษ. จ.เลย,2016-11-01,5,5,6,3,2,2,8,...,2,8,6,2,3,2,1,1,-,3.533333
27,25,353301-เลย สกษ. จ.เลย,2016-12-01,1,1,2,6,5,9,3,...,2,2,1,1,2,1,1,1,5,2.900000
28,26,353301-เลย สกษ. จ.เลย,2017-01-01,9,6,6,7,10,7,5,...,3,2,3,2,1,1,1,4,2,4.612903
29,27,353301-เลย สกษ. จ.เลย,2017-02-01,1,5,3,1,-,0,-,...,-,1,8,10,6,3,4,4,-,2.166667
30,28,353301-เลย สกษ. จ.เลย,2017-10-01,6,8,7,9,8,8,7,...,7,6,3,1,2,2,1,2,1,5.580645
31,29,353301-เลย สกษ. จ.เลย,2017-11-01,3,3,2,1,8,10,7,...,9,2,1,1,2,3,3,4,-,4.033333
32,30,353301-เลย สกษ. จ.เลย,2017-12-01,5,3,2,3,8,3,3,...,-,1,3,7,10,10,5,6,7,4.464286
33,31,353301-เลย สกษ. จ.เลย,2018-01-01,4,5,7,4,5,3,4,...,2,1,1,4,8,1,2,5,8,3.580645
34,32,353301-เลย สกษ. จ.เลย,2018-02-01,10,5,7,3,1,2,1,...,8,5,1,5,8,3,4,2,-,3.200000
35,33,353301-เลย สกษ. จ.เลย,2018-10-01,6,4,4,2,4,1,1,...,6,7,5,2,2,3,2,2,1,3.483871
36,34,353301-เลย สกษ. จ.เลย,2018-11-01,1,0,-,-,0,0,2,...,1,1,1,2,4,8,8,3,-,3.500000
37,35,353301-เลย สกษ. จ.เลย,2018-12-01,2,4,2,1,1,1,3,...,1,2,1,1,0,4,9,9,5,3.354839
38,36,353301-เลย สกษ. จ.เลย,2019-01-01,2,1,2,6,7,8,4,...,2,1,2,1,1,1,1,1,1,3.161290
39,37,353301-เลย สกษ. จ.เลย,2019-02-01,2,1,-,0,-,0,0,...,0,0,1,3,3,2,2,1,-,1.703704
40,38,353301-เลย สกษ. จ.เลย,2019-10-01,1,2,1,5,7,4,2,...,2,2,4,2,2,4,4,3,3,3.161290
41,39,353301-เลย สกษ. จ.เลย,2019-11-01,8,5,6,4,2,1,4,...,1,0,1,0,4,3,-,1,-,2.862069
42,40,353301-เลย สกษ. จ.เลย,2019-12-01,1,2,0,0,-,-,-,...,1,1,1,0,3,2,1,0,1,0.916667
43,41,353301-เลย สกษ. จ.เลย,2020-01-01,4,3,2,2,1,1,1,...,1,7,3,0,4,2,1,3,-,1.733333
44,42,353301-เลย สกษ. จ.เลย,2020-02-01,-,1,1,2,5,2,1,...,0,1,1,1,1,3,1,-,-,1.333333
45,43,353301-เลย สกษ. จ.เลย,2020-10-01,7,8,8,7,3,4,7,...,5,2,2,7,6,5,10,9,8,6.967742
46,44,353301-เลย สกษ. จ.เลย,2020-11-01,4,7,4,9,3,4,6,...,4,1,1,2,2,1,4,1,-,2.966667
47,45,353301-เลย สกษ. จ.เลย,2020-12-01,0,2,4,2,0,1,1,...,1,2,1,4,1,2,1,4,3,1.758621
48,46,353301-เลย สกษ. จ.เลย,2021-01-01,3,1,-,1,0,1,2,...,-,1,-,-,0,2,2,3,1,1.833333
49,47,353301-เลย สกษ. จ.เลย,2021-02-01,0,1,1,1,0,0,0,...,1,0,0,0,2,1,4,-,-,1.370370
50,48,353301-เลย สกษ. จ.เลย,2021-10-01,4,2,5,2,4,5,4,...,6,2,2,1,3,6,9,5,4,5.612903
51,49,353301-เลย สกษ. จ.เลย,2021-11-01,4,3,2,1,1,1,1,...,3,1,5,3,3,1,1,1,-,2.466667
52,50,353301-เลย สกษ. จ.เลย,2021-12-01,1,1,1,-,0,0,-,...,1,1,5,3,4,-,3,2,1,1.875000
53,1,353301-เลย สกษ. จ.เลย,2022-01-01,3,2,1,3,-,-,0,...,6,2,1,1,1,1,1,1,0,1.925926
54,2,353301-เลย สกษ. จ.เลย,2022-02-01,3,5,5,5,7,6,1,...,2,-,1,0,3,2,-,-,-,4.925926

In [12]:
kkc.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
npc.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
lc.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
skc.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nkc.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [13]:
# ปริมาณฝน
kkr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ปริมาณฝน(มิลลิเมตร)/จ.ขอนแก่น (6).xlsx',sheet_name=0,skiprows=4)
npr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ปริมาณฝน(มิลลิเมตร)/จ.นครพนม (6).xlsx',sheet_name=0,skiprows=4)
lr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ปริมาณฝน(มิลลิเมตร)/จ.เลย (6).xlsx',sheet_name=0,skiprows=4)
skr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ปริมาณฝน(มิลลิเมตร)/จ.สกล (2).xlsx',sheet_name=0,skiprows=4)
nkr = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/ปริมาณฝน(มิลลิเมตร)/จ.หนองคาย (6).xlsx',sheet_name=0,skiprows=4)

In [14]:
kkr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
npr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
lr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
skr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nkr.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [15]:
# อุณหภูมิจุดน้ำค้าง
kkd = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.ขอนแก่น (7).xlsx',sheet_name=0,skiprows=4)
npd = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.นครพนม (7).xlsx',sheet_name=0,skiprows=4)
ld = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.เลย (7).xlsx',sheet_name=0,skiprows=4)
skd = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.สกล (3).xlsx',sheet_name=0,skiprows=4)
nkd = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณหภูมิจุดน้ำค้าง(เซลเซียส)/จ.หนองคาย (7).xlsx',sheet_name=0,skiprows=4)

In [16]:
kkd.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
npd.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
ld.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
skd.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nkd.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [17]:
# อุณหภูมิต่ำสุด
kktl = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิต่ำสุด(เซลเซียส)/จ.ขอนแก่น (1).xlsx',sheet_name=0,skiprows=4)
nptl = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิต่ำสุด(เซลเซียส)/จ.นครพนม (1).xlsx',sheet_name=0,skiprows=4)
ltl = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิต่ำสุด(เซลเซียส)/จ.เลย (1).xlsx',sheet_name=0,skiprows=4)
sktl = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิต่ำสุด(เซลเซียส)/จ.สกล (1).xlsx',sheet_name=0,skiprows=4)
nktl = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิต่ำสุด(เซลเซียส)/จ.หนองคาย (1).xlsx',sheet_name=0,skiprows=4)

In [18]:
kktl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nptl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
ltl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sktl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nktl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [19]:
kktl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nptl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
ltl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
sktl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nktl.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

In [20]:
# อุณหภูมิตุ้มแห้ง
kkt = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิตุ้มแห้ง(เซลเซียส)/จ.ขอนแก่น.xlsx',sheet_name=0,skiprows=4)
npt = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิตุ้มแห้ง(เซลเซียส)/จ.นครพนม.xlsx',sheet_name=0,skiprows=4)
lt = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิตุ้มแห้ง(เซลเซียส)/จ.เลย.xlsx',sheet_name=0,skiprows=4)
skt = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิตุ้มแห้ง(เซลเซียส)/จ.สกล.xlsx',sheet_name=0,skiprows=4)
nkt = pd.read_excel('/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/อุณภูมิตุ้มแห้ง(เซลเซียส)/จ.หนองคาย.xlsx',sheet_name=0,skiprows=4)

In [21]:
kkt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
npt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
lt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
skt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)
nkt.rename(columns = {'Unnamed: 0':'ที่','Unnamed: 1':'สถานี', 'Unnamed: 2':'เดือน/ปี','Unnamed: 34':'เฉลี่ย'}, inplace = True)

# ต่อตาราง

In [22]:
Table1 = pd.concat([kkbara,npbara,lbara,skbara,nkbara])
Table2 = pd.concat([kkhr,nphr,lhr,skhr,nkhr])
Table3 = pd.concat([kkn,npn,ln,skn,nkn])
Table4 = pd.concat([kkc,npc,lc,skc,nkc])
Table5 = pd.concat([kkr,npr,lr,skr,nkr])
Table6 = pd.concat([kkd,npd,ld,skd,nkd])
Table7 = pd.concat([kktl,nptl,ltl,sktl,nktl])
Table8 = pd.concat([kkt,npt,lt,skt,nkt])

In [23]:
alltable = pd.concat([Table1,Table2,Table3,Table4,Table5,Table6,Table7,Table8])
alltable.head()

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.4,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.47
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.8,1008.16,...,1005.75,1005.46,1004.8,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667

In [24]:
alltable.isnull().any()

ที่          True
สถานี       False
เดือน/ปี    False
1           False
2           False
3           False
4           False
5           False
6           False
7           False
8           False
9           False
10          False
11          False
12          False
13          False
14          False
15          False
16          False
17          False
18          False
19          False
20          False
21          False
22          False
23          False
24          False
25          False
26          False
27          False
28          False
29           True
30           True
31           True
เฉลี่ย      False
dtype: bool

In [25]:
alltable['สถานี'].value_counts()

353301-เลย สกษ. จ.เลย       605
352201-หนองคาย จ.หนองคาย    550
381201-ขอนแก่น จ.ขอนแก่น    275
357201-นครพนม จ.นครพนม      275
356201-สกลนคร จ.สกลนคร      275
353201-เลย จ.เลย            210
Name: สถานี, dtype: int64

In [26]:
NK = alltable[alltable['สถานี']=='352201-หนองคาย จ.หนองคาย']
KK = alltable[alltable['สถานี']=='381201-ขอนแก่น จ.ขอนแก่น']
NP = alltable[alltable['สถานี']=='357201-นครพนม จ.นครพนม']
SK = alltable[alltable['สถานี']=='356201-สกลนคร จ.สกลนคร']
L1 = alltable[alltable['สถานี']=='353301-เลย สกษ. จ.เลย']
L2 = alltable[alltable['สถานี']=='353201-เลย จ.เลย']

In [27]:
NK

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,352201-หนองคาย จ.หนองคาย,2011-10-01,1005.47,1006.65,1007.49,1008.28,1009.88,1011.36,1011.17,...,1010.76,1010.23,1011.34,1011.84,1011.89,1012.29,1011.67,1011.3,1011.52,1010.350645
1,2,352201-หนองคาย จ.หนองคาย,2011-11-01,1011.79,1010.83,1010.74,1010.71,1010.09,1009.24,1008.03,...,1014.07,1015.4,1013.95,1012.35,1011.31,1009.59,1010.13,1010.47,-,1011.717
2,3,352201-หนองคาย จ.หนองคาย,2011-12-01,1011.43,1012.57,1012.28,1012.97,1013.09,1012.03,1012.05,...,1012.88,1015.78,1018.56,1018.65,1016.88,1016.05,1014.98,1015.53,1016.4,1016.47
3,1,352201-หนองคาย จ.หนองคาย,2012-01-01,1015.67,1014.11,1012.91,1014.06,1015.51,1015.88,1017.72,...,1010.91,1011.27,1011.65,1012.56,1010.76,1010.26,1010.69,1012.34,1014.52,1012.484516
4,2,352201-หนองคาย จ.หนองคาย,2012-02-01,1013.26,1012.92,1013.61,1013.18,1011.26,1008.8,1008.16,...,1005.75,1005.46,1004.8,1005.08,1006.57,1005.96,1006.53,1010.47,-,1009.749667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,48,352201-หนองคาย จ.หนองคาย,2021-10-01,26.9,28.8,29.2,29.8,29.9,29.2,29.9,...,25.6,26.4,26.2,26.1,26.4,26.3,28.1,28.7,28.8,27.8
51,49,352201-หนองคาย จ.หนองคาย,2021-11-01,29.0,29.0,28.6,28.2,28.0,28.5,29.2,...,25.6,23.8,24.7,24.6,24.0,23.7,24.3,24.2,-,26.6
52,50,352201-หนองคาย จ.หนองคาย,2021-12-01,23.0,21.4,20.9,19.8,20.1,21.1,21.0,...,23.3,24.2,23.1,24.3,24.5,23.4,24.1,25,23.7,23.0
53,1,352201-หนองคาย จ.หนองคาย,2022-01-01,23.6,23.8,23.1,23.4,24.4,24.7,24.3,...,23.5,24.9,25.8,26.2,26.1,25.9,26.5,26.1,25.6,24.5
54,2,352201-หนองคาย จ.หนองคาย,2022-02-01,23.5,22.7,23.5,24.1,21.2,22.2,25.3,...,20.6,20.3,20.7,22.7,23.8,25.4,-,-,-,23.7

In [28]:
L = pd.concat([L1,L2])
L

,ที่,สถานี,เดือน/ปี,1,2,3,4,5,6,7,...,23,24,25,26,27,28,29,30,31,เฉลี่ย
0,1,353301-เลย สกษ. จ.เลย,2011-10-01,90,95,92,89,86,94,90,...,85,86,83,84,85,85,82,83,85,87
1,2,353301-เลย สกษ. จ.เลย,2011-11-01,85,83,84,83,83,85,83,...,73,77,80,81,80,84,82,79,-,82
2,3,353301-เลย สกษ. จ.เลย,2011-12-01,80,77,77,76,78,83,82,...,80,74,75,74,80,80,78,81,78,77
3,1,353301-เลย สกษ. จ.เลย,2012-01-01,75,78,81,79,73,77,82,...,83,80,83,79,80,78,77,82,79,78
4,2,353301-เลย สกษ. จ.เลย,2012-02-01,79,81,91,84,78,73,69,...,67,68,68,67,76,73,70,-,-,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,43,353201-เลย จ.เลย,2020-10-01,27.5,27.1,26.3,27.7,26.5,27.6,27.1,...,25.1,23.7,24.2,23.6,25.6,26.3,23.1,24.6,24.8,25.5
46,44,353201-เลย จ.เลย,2020-11-01,26.7,26.1,26.0,25.8,25.8,26.0,25.1,...,27.1,25.8,25.6,25.3,24.5,24.9,23.7,23.1,-,25.3
47,45,353201-เลย จ.เลย,2020-12-01,22.9,23.1,23.6,21.9,20.1,19.7,20.2,...,19.4,21.6,22.9,23.7,25.1,25.7,25.3,23.8,20.3,22.2
48,46,353201-เลย จ.เลย,2021-01-01,18.0,16.8,18.1,20.2,22.5,23.3,23.6,...,21.4,22.8,23.9,23.2,24.0,24.5,23.5,21.6,22.6,20.8
49,47,353201-เลย จ.เลย,2021-02-01,23.7,24.8,25.1,24.3,23.4,23.8,24.1,...,25.7,26.8,27.8,26.3,25.2,25.6,-,-,-,24.1

# สร้างตารางแยกตามจังหวัดและตามหัวข้อ

## ความกด

In [29]:
kkbara['จังหวัด'] = "ขอนแก่น"
KKN01 = kkbara.drop(['ที่','เฉลี่ย'],axis=1)
KKN01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN001 = KKN01.stack().reset_index()
KKN001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
KKN001['เดือน'] = KKN001['เดือน/ปี'].dt.month
KKN001['ปี'] = KKN001['เดือน/ปี'].dt.year
newKKN1 = KKN001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newKKN1

      จังหวัด                     สถานี  วันที่  เดือน    ปี   ความกด
0     ขอนแก่น  352201-หนองคาย จ.หนองคาย       1     10  2011  1005.47
1     ขอนแก่น  352201-หนองคาย จ.หนองคาย       2     10  2011  1006.65
2     ขอนแก่น  352201-หนองคาย จ.หนองคาย       3     10  2011  1007.49
3     ขอนแก่น  352201-หนองคาย จ.หนองคาย       4     10  2011  1008.28
4     ขอนแก่น  352201-หนองคาย จ.หนองคาย       5     10  2011  1009.88
...       ...                       ...     ...    ...   ...      ...
1700  ขอนแก่น  352201-หนองคาย จ.หนองคาย      27      2  2022  1014.37
1701  ขอนแก่น  352201-หนองคาย จ.หนองคาย      28      2  2022  1013.04
1702  ขอนแก่น  352201-หนองคาย จ.หนองคาย      29      2  2022  1013.37
1703  ขอนแก่น  352201-หนองคาย จ.หนองคาย      30      2  2022  1013.98
1704  ขอนแก่น  352201-หนองคาย จ.หนองคาย      31      2  2022        -

[1705 rows x 6 columns]

In [30]:
npbara['จังหวัด'] = "นครพนม"
NPM01 = npbara.drop(['ที่','เฉลี่ย'],axis=1)
NPM01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM001 = NPM01.stack().reset_index()
NPM001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
NPM001['เดือน'] = NPM001['เดือน/ปี'].dt.month
NPM001['ปี'] = NPM001['เดือน/ปี'].dt.year
newNPM1 = NPM001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newNPM1

     จังหวัด                     สถานี  วันที่  เดือน    ปี   ความกด
0     นครพนม  352201-หนองคาย จ.หนองคาย       1     10  2011   1006.3
1     นครพนม  352201-หนองคาย จ.หนองคาย       2     10  2011  1007.38
2     นครพนม  352201-หนองคาย จ.หนองคาย       3     10  2011  1008.07
3     นครพนม  352201-หนองคาย จ.หนองคาย       4     10  2011  1008.44
4     นครพนม  352201-หนองคาย จ.หนองคาย       5     10  2011  1010.51
...      ...                       ...     ...    ...   ...      ...
1700  นครพนม  352201-หนองคาย จ.หนองคาย      27      2  2022  1016.43
1701  นครพนม  352201-หนองคาย จ.หนองคาย      28      2  2022  1013.53
1702  นครพนม  352201-หนองคาย จ.หนองคาย      29      2  2022  1013.37
1703  นครพนม  352201-หนองคาย จ.หนองคาย      30      2  2022  1013.98
1704  นครพนม  352201-หนองคาย จ.หนองคาย      31      2  2022        -

[1705 rows x 6 columns]

In [31]:
lbara['จังหวัด'] = "เลย"
LEI01 = lbara.drop(['ที่','เฉลี่ย'],axis=1)
LEI01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI001 = LEI01.stack().reset_index()
LEI001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
LEI001['เดือน'] = LEI001['เดือน/ปี'].dt.month
LEI001['ปี'] = LEI001['เดือน/ปี'].dt.year
newLEI1 = LEI001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newLEI1

     จังหวัด                     สถานี  วันที่  เดือน    ปี   ความกด
0        เลย  352201-หนองคาย จ.หนองคาย       1     10  2011  1005.12
1        เลย  352201-หนองคาย จ.หนองคาย       2     10  2011  1006.51
2        เลย  352201-หนองคาย จ.หนองคาย       3     10  2011  1007.81
3        เลย  352201-หนองคาย จ.หนองคาย       4     10  2011  1008.15
4        เลย  352201-หนองคาย จ.หนองคาย       5     10  2011  1009.21
...      ...                       ...     ...    ...   ...      ...
1700     เลย  352201-หนองคาย จ.หนองคาย      27      2  2022  1014.97
1701     เลย  352201-หนองคาย จ.หนองคาย      28      2  2022  1012.88
1702     เลย  352201-หนองคาย จ.หนองคาย      29      2  2022        -
1703     เลย  352201-หนองคาย จ.หนองคาย      30      2  2022        -
1704     เลย  352201-หนองคาย จ.หนองคาย      31      2  2022        -

[1705 rows x 6 columns]

In [32]:
skbara['จังหวัด'] = "สกลนคร"
SNK01 = skbara.drop(['ที่','เฉลี่ย'],axis=1)
SNK01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK001 = SNK01.stack().reset_index()
SNK001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
SNK001['เดือน'] = SNK001['เดือน/ปี'].dt.month
SNK001['ปี'] = SNK001['เดือน/ปี'].dt.year
newSNK1 = SNK001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newSNK1

     จังหวัด                     สถานี  วันที่  เดือน    ปี   ความกด
0     สกลนคร  352201-หนองคาย จ.หนองคาย       1     10  2011  1005.84
1     สกลนคร  352201-หนองคาย จ.หนองคาย       2     10  2011  1007.16
2     สกลนคร  352201-หนองคาย จ.หนองคาย       3     10  2011  1007.87
3     สกลนคร  352201-หนองคาย จ.หนองคาย       4     10  2011  1008.56
4     สกลนคร  352201-หนองคาย จ.หนองคาย       5     10  2011  1010.55
...      ...                       ...     ...    ...   ...      ...
1700  สกลนคร  352201-หนองคาย จ.หนองคาย      27      2  2022  1014.95
1701  สกลนคร  352201-หนองคาย จ.หนองคาย      28      2  2022  1012.89
1702  สกลนคร  352201-หนองคาย จ.หนองคาย      29      2  2022  1013.37
1703  สกลนคร  352201-หนองคาย จ.หนองคาย      30      2  2022  1013.98
1704  สกลนคร  352201-หนองคาย จ.หนองคาย      31      2  2022        -

[1705 rows x 6 columns]

In [33]:
nkbara['จังหวัด'] = "หนองคาย"
NKI01 = nkbara.drop(['ที่','เฉลี่ย'],axis=1)
NKI01.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI001 = NKI01.stack().reset_index()
NKI001.rename(columns = {'level_3':'วันที่',0:'ความกด'}, inplace = True)
NKI001['เดือน'] = NKI001['เดือน/ปี'].dt.month
NKI001['ปี'] = NKI001['เดือน/ปี'].dt.year
newNKI1 = NKI001[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความกด']]
newNKI1

      จังหวัด                     สถานี  วันที่  เดือน    ปี   ความกด
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011   1006.3
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011  1007.38
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011  1008.07
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011  1008.44
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011  1010.51
...       ...                       ...     ...    ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย      27      2  2022  1016.43
1701  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022  1013.53
1702  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022  1013.37
1703  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022  1013.98
1704  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022        -

[1705 rows x 6 columns]

## ความชื้นสัมพัทธ์

In [34]:
kkhr['จังหวัด'] = "ขอนแก่น"
KKN02 = kkhr.drop(['ที่','เฉลี่ย'],axis=1)
KKN02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN002 = KKN02.stack().reset_index()
KKN002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
KKN002['เดือน'] = KKN002['เดือน/ปี'].dt.month
KKN002['ปี'] = KKN002['เดือน/ปี'].dt.year
newKKN2 = KKN002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newKKN2

      จังหวัด                     สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011               83
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011               92
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011               86
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011               80
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011               86
...       ...                       ...     ...    ...   ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      27      2  2022               58
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022               62
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022                -

[1705 rows x 6 columns]

In [35]:
nphr['จังหวัด'] = "นครพนม"
NPM02 = nphr.drop(['ที่','เฉลี่ย'],axis=1)
NPM02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM002 = NPM02.stack().reset_index()
NPM002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
NPM002['เดือน'] = NPM002['เดือน/ปี'].dt.month
NPM002['ปี'] = NPM002['เดือน/ปี'].dt.year
newNPM2 = NPM002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newNPM2

     จังหวัด                   สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011               95
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011               84
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011               74
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011               72
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011               87
...      ...                     ...     ...    ...   ...              ...
1700  นครพนม  357201-นครพนม จ.นครพนม      27      2  2022               52
1701  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022               60
1702  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                -
1703  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                -
1704  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                -

[1705 rows x 6 columns]

In [36]:
lhr['จังหวัด'] = "เลย"
LEI02 = lhr.drop(['ที่','เฉลี่ย'],axis=1)
LEI02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI002 = LEI02.stack().reset_index()
LEI002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
LEI002['เดือน'] = LEI002['เดือน/ปี'].dt.month
LEI002['ปี'] = LEI002['เดือน/ปี'].dt.year
newLEI2 = LEI002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newLEI2

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011               90
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011               95
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011               92
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011               89
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011               86
...      ...                    ...     ...    ...   ...              ...
1700     เลย  353301-เลย สกษ. จ.เลย      27      2  2022               74
1701     เลย  353301-เลย สกษ. จ.เลย      28      2  2022               72
1702     เลย  353301-เลย สกษ. จ.เลย      29      2  2022                -
1703     เลย  353301-เลย สกษ. จ.เลย      30      2  2022                -
1704     เลย  353301-เลย สกษ. จ.เลย      31      2  2022                -

[1705 rows x 6 columns]

In [37]:
skhr['จังหวัด'] = "สกลนคร"
SNK02 = skhr.drop(['ที่','เฉลี่ย'],axis=1)
SNK02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK002 = SNK02.stack().reset_index()
SNK002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
SNK002['เดือน'] = SNK002['เดือน/ปี'].dt.month
SNK002['ปี'] = SNK002['เดือน/ปี'].dt.year
newSNK2 = SNK002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newSNK2

     จังหวัด                   สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011               87
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011               88
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011               77
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011               75
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011               87
...      ...                     ...     ...    ...   ...              ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร      27      2  2022               65
1701  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022               68
1702  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022                -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022                -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022                -

[1705 rows x 6 columns]

In [38]:
nkhr['จังหวัด'] = "หนองคาย"
NKI02 = nkhr.drop(['ที่','เฉลี่ย'],axis=1)
NKI02.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI002 = NKI02.stack().reset_index()
NKI002.rename(columns = {'level_3':'วันที่',0:'ความชื้นสัมพัทธ์'}, inplace = True)
NKI002['เดือน'] = NKI002['เดือน/ปี'].dt.month
NKI002['ปี'] = NKI002['เดือน/ปี'].dt.year
newNKI2 = NKI002[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
newNKI2

      จังหวัด                     สถานี  วันที่  เดือน    ปี ความชื้นสัมพัทธ์
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011               89
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011               91
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011               78
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011               75
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011               90
...       ...                       ...     ...    ...   ...              ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย      27      2  2022               62
1701  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022               65
1702  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022                -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022                -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022                -

[1705 rows x 6 columns]

## ความเร็วลม

In [39]:
kkn['จังหวัด'] = "ขอนแก่น"
KKN03 = kkn.drop(['ที่','เฉลี่ย'],axis=1)
KKN03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN003 = KKN03.stack().reset_index()
KKN003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
KKN003['เดือน'] = KKN003['เดือน/ปี'].dt.month
KKN003['ปี'] = KKN003['เดือน/ปี'].dt.year
newKKN3 = KKN003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newKKN3

      จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     ขอนแก่น  353301-เลย สกษ. จ.เลย       1     10  2011          3
1     ขอนแก่น  353301-เลย สกษ. จ.เลย       2     10  2011          2
2     ขอนแก่น  353301-เลย สกษ. จ.เลย       3     10  2011          3
3     ขอนแก่น  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     ขอนแก่น  353301-เลย สกษ. จ.เลย       5     10  2011          2
...       ...                    ...     ...    ...   ...        ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย      27      2  2022          2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย      28      2  2022          2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย      29      2  2022          -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย      30      2  2022          -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย      31      2  2022          -

[1705 rows x 6 columns]

In [40]:
npn['จังหวัด'] = "นครพนม"
NPM03 = npn.drop(['ที่','เฉลี่ย'],axis=1)
NPM03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM003 = NPM03.stack().reset_index()
NPM003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
NPM003['เดือน'] = NPM003['เดือน/ปี'].dt.month
NPM003['ปี'] = NPM003['เดือน/ปี'].dt.year
newNPM3 = NPM003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newNPM3

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     นครพนม  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     นครพนม  353301-เลย สกษ. จ.เลย       2     10  2011          1
2     นครพนม  353301-เลย สกษ. จ.เลย       3     10  2011          2
3     นครพนม  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     นครพนม  353301-เลย สกษ. จ.เลย       5     10  2011          1
...      ...                    ...     ...    ...   ...        ...
1700  นครพนม  353301-เลย สกษ. จ.เลย      27      2  2022          2
1701  นครพนม  353301-เลย สกษ. จ.เลย      28      2  2022          1
1702  นครพนม  353301-เลย สกษ. จ.เลย      29      2  2022          -
1703  นครพนม  353301-เลย สกษ. จ.เลย      30      2  2022          -
1704  นครพนม  353301-เลย สกษ. จ.เลย      31      2  2022          -

[1705 rows x 6 columns]

In [41]:
ln['จังหวัด'] = "เลย"
LEI03 = ln.drop(['ที่','เฉลี่ย'],axis=1)
LEI03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI003 = LEI03.stack().reset_index()
LEI003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
LEI003['เดือน'] = LEI003['เดือน/ปี'].dt.month
LEI003['ปี'] = LEI003['เดือน/ปี'].dt.year
newLEI3 = LEI003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newLEI3

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011          2
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011          2
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011          3
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011          2
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011          3
...      ...                    ...     ...    ...   ...        ...
1700     เลย  353301-เลย สกษ. จ.เลย      27      2  2022          1
1701     เลย  353301-เลย สกษ. จ.เลย      28      2  2022          1
1702     เลย  353301-เลย สกษ. จ.เลย      29      2  2022          -
1703     เลย  353301-เลย สกษ. จ.เลย      30      2  2022          -
1704     เลย  353301-เลย สกษ. จ.เลย      31      2  2022          -

[1705 rows x 6 columns]

In [42]:
skn['จังหวัด'] = "สกลนคร"
SNK03 = skn.drop(['ที่','เฉลี่ย'],axis=1)
SNK03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK003 = SNK03.stack().reset_index()
SNK003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
SNK003['เดือน'] = SNK003['เดือน/ปี'].dt.month
SNK003['ปี'] = SNK003['เดือน/ปี'].dt.year
newSNK3 = SNK003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newSNK3

     จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     สกลนคร  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     สกลนคร  353301-เลย สกษ. จ.เลย       2     10  2011          1
2     สกลนคร  353301-เลย สกษ. จ.เลย       3     10  2011          2
3     สกลนคร  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     สกลนคร  353301-เลย สกษ. จ.เลย       5     10  2011          1
...      ...                    ...     ...    ...   ...        ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย      27      2  2022          3
1701  สกลนคร  353301-เลย สกษ. จ.เลย      28      2  2022          2
1702  สกลนคร  353301-เลย สกษ. จ.เลย      29      2  2022          -
1703  สกลนคร  353301-เลย สกษ. จ.เลย      30      2  2022          -
1704  สกลนคร  353301-เลย สกษ. จ.เลย      31      2  2022          -

[1705 rows x 6 columns]

In [43]:
nkn['จังหวัด'] = "หนองคาย"
NKI03 = nkn.drop(['ที่','เฉลี่ย'],axis=1)
NKI03.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI003 = NKI03.stack().reset_index()
NKI003.rename(columns = {'level_3':'วันที่',0:'ความเร็วลม'}, inplace = True)
NKI003['เดือน'] = NKI003['เดือน/ปี'].dt.month
NKI003['ปี'] = NKI003['เดือน/ปี'].dt.year
newNKI3 = NKI003[['จังหวัด','สถานี','วันที่','เดือน','ปี','ความเร็วลม']]
newNKI3

      จังหวัด                  สถานี  วันที่  เดือน    ปี ความเร็วลม
0     หนองคาย  353301-เลย สกษ. จ.เลย       1     10  2011          1
1     หนองคาย  353301-เลย สกษ. จ.เลย       2     10  2011          4
2     หนองคาย  353301-เลย สกษ. จ.เลย       3     10  2011          4
3     หนองคาย  353301-เลย สกษ. จ.เลย       4     10  2011          2
4     หนองคาย  353301-เลย สกษ. จ.เลย       5     10  2011          1
...       ...                    ...     ...    ...   ...        ...
1700  หนองคาย  353301-เลย สกษ. จ.เลย      27      2  2022          2
1701  หนองคาย  353301-เลย สกษ. จ.เลย      28      2  2022          2
1702  หนองคาย  353301-เลย สกษ. จ.เลย      29      2  2022          -
1703  หนองคาย  353301-เลย สกษ. จ.เลย      30      2  2022          -
1704  หนองคาย  353301-เลย สกษ. จ.เลย      31      2  2022          -

[1705 rows x 6 columns]

## จำนวนเมฆ

In [44]:
kkc['จังหวัด'] = "ขอนแก่น"
KKN04 = kkc.drop(['ที่','เฉลี่ย'],axis=1)
KKN04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN004 = KKN04.stack().reset_index()
KKN004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
KKN004['เดือน'] = KKN004['เดือน/ปี'].dt.month
KKN004['ปี'] = KKN004['เดือน/ปี'].dt.year
newKKN4 = KKN004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newKKN4

      จังหวัด                  สถานี  วันที่  เดือน    ปี จำนวนเมฆ
0     ขอนแก่น  353301-เลย สกษ. จ.เลย       1     10  2011        9
1     ขอนแก่น  353301-เลย สกษ. จ.เลย       2     10  2011       10
2     ขอนแก่น  353301-เลย สกษ. จ.เลย       3     10  2011       10
3     ขอนแก่น  353301-เลย สกษ. จ.เลย       4     10  2011        8
4     ขอนแก่น  353301-เลย สกษ. จ.เลย       5     10  2011       10
...       ...                    ...     ...    ...   ...      ...
1700  ขอนแก่น  353301-เลย สกษ. จ.เลย      27      2  2022        2
1701  ขอนแก่น  353301-เลย สกษ. จ.เลย      28      2  2022        2
1702  ขอนแก่น  353301-เลย สกษ. จ.เลย      29      2  2022        -
1703  ขอนแก่น  353301-เลย สกษ. จ.เลย      30      2  2022        -
1704  ขอนแก่น  353301-เลย สกษ. จ.เลย      31      2  2022        -

[1705 rows x 6 columns]

In [45]:
npc['จังหวัด'] = "นครพนม"
NPM04 = npc.drop(['ที่','เฉลี่ย'],axis=1)
NPM04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM004 = NPM04.stack().reset_index()
NPM004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
NPM004['เดือน'] = NPM004['เดือน/ปี'].dt.month
NPM004['ปี'] = NPM004['เดือน/ปี'].dt.year
newNPM4 = NPM004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newNPM4

     จังหวัด                  สถานี  วันที่  เดือน    ปี จำนวนเมฆ
0     นครพนม  353301-เลย สกษ. จ.เลย       1     10  2011       10
1     นครพนม  353301-เลย สกษ. จ.เลย       2     10  2011        7
2     นครพนม  353301-เลย สกษ. จ.เลย       3     10  2011        8
3     นครพนม  353301-เลย สกษ. จ.เลย       4     10  2011        8
4     นครพนม  353301-เลย สกษ. จ.เลย       5     10  2011       10
...      ...                    ...     ...    ...   ...      ...
1700  นครพนม  353301-เลย สกษ. จ.เลย      27      2  2022        1
1701  นครพนม  353301-เลย สกษ. จ.เลย      28      2  2022        0
1702  นครพนม  353301-เลย สกษ. จ.เลย      29      2  2022        -
1703  นครพนม  353301-เลย สกษ. จ.เลย      30      2  2022        -
1704  นครพนม  353301-เลย สกษ. จ.เลย      31      2  2022        -

[1705 rows x 6 columns]

In [46]:
lc['จังหวัด'] = "เลย"
LEI04 = lc.drop(['ที่','เฉลี่ย'],axis=1)
LEI04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI004 = LEI04.stack().reset_index()
LEI004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
LEI004['เดือน'] = LEI004['เดือน/ปี'].dt.month
LEI004['ปี'] = LEI004['เดือน/ปี'].dt.year
newLEI4 = LEI004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newLEI4

     จังหวัด                  สถานี  วันที่  เดือน    ปี จำนวนเมฆ
0        เลย  353301-เลย สกษ. จ.เลย       1     10  2011        8
1        เลย  353301-เลย สกษ. จ.เลย       2     10  2011       10
2        เลย  353301-เลย สกษ. จ.เลย       3     10  2011       10
3        เลย  353301-เลย สกษ. จ.เลย       4     10  2011        9
4        เลย  353301-เลย สกษ. จ.เลย       5     10  2011        8
...      ...                    ...     ...    ...   ...      ...
1700     เลย  353301-เลย สกษ. จ.เลย      27      2  2022        3
1701     เลย  353301-เลย สกษ. จ.เลย      28      2  2022        2
1702     เลย  353301-เลย สกษ. จ.เลย      29      2  2022        -
1703     เลย  353301-เลย สกษ. จ.เลย      30      2  2022        -
1704     เลย  353301-เลย สกษ. จ.เลย      31      2  2022        -

[1705 rows x 6 columns]

In [47]:
skc['จังหวัด'] = "สกลนคร"
SNK04 = skc.drop(['ที่','เฉลี่ย'],axis=1)
SNK04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK004 = SNK04.stack().reset_index()
SNK004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
SNK004['เดือน'] = SNK004['เดือน/ปี'].dt.month
SNK004['ปี'] = SNK004['เดือน/ปี'].dt.year
newSNK4 = SNK004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newSNK4

     จังหวัด                  สถานี  วันที่  เดือน    ปี จำนวนเมฆ
0     สกลนคร  353301-เลย สกษ. จ.เลย       1     10  2011        9
1     สกลนคร  353301-เลย สกษ. จ.เลย       2     10  2011        9
2     สกลนคร  353301-เลย สกษ. จ.เลย       3     10  2011        7
3     สกลนคร  353301-เลย สกษ. จ.เลย       4     10  2011        7
4     สกลนคร  353301-เลย สกษ. จ.เลย       5     10  2011        9
...      ...                    ...     ...    ...   ...      ...
1700  สกลนคร  353301-เลย สกษ. จ.เลย      27      2  2022        3
1701  สกลนคร  353301-เลย สกษ. จ.เลย      28      2  2022        0
1702  สกลนคร  353301-เลย สกษ. จ.เลย      29      2  2022        1
1703  สกลนคร  353301-เลย สกษ. จ.เลย      30      2  2022        1
1704  สกลนคร  353301-เลย สกษ. จ.เลย      31      2  2022        -

[1705 rows x 6 columns]

In [48]:
nkc['จังหวัด'] = "หนองคาย"
NKI04 = nkc.drop(['ที่','เฉลี่ย'],axis=1)
NKI04.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI004 = NKI04.stack().reset_index()
NKI004.rename(columns = {'level_3':'วันที่',0:'จำนวนเมฆ'}, inplace = True)
NKI004['เดือน'] = NKI004['เดือน/ปี'].dt.month
NKI004['ปี'] = NKI004['เดือน/ปี'].dt.year
newNKI4 = NKI004[['จังหวัด','สถานี','วันที่','เดือน','ปี','จำนวนเมฆ']]
newNKI4

      จังหวัด                  สถานี  วันที่  เดือน    ปี จำนวนเมฆ
0     หนองคาย  353301-เลย สกษ. จ.เลย       1     10  2011       10
1     หนองคาย  353301-เลย สกษ. จ.เลย       2     10  2011       10
2     หนองคาย  353301-เลย สกษ. จ.เลย       3     10  2011        8
3     หนองคาย  353301-เลย สกษ. จ.เลย       4     10  2011        9
4     หนองคาย  353301-เลย สกษ. จ.เลย       5     10  2011        9
...       ...                    ...     ...    ...   ...      ...
1697  หนองคาย  353301-เลย สกษ. จ.เลย      27      2  2022        3
1698  หนองคาย  353301-เลย สกษ. จ.เลย      28      2  2022        2
1699  หนองคาย  353301-เลย สกษ. จ.เลย      29      2  2022        1
1700  หนองคาย  353301-เลย สกษ. จ.เลย      30      2  2022        1
1701  หนองคาย  353301-เลย สกษ. จ.เลย      31      2  2022        -

[1702 rows x 6 columns]

## ปริมาณฝน

In [49]:
kkr['จังหวัด'] = "ขอนแก่น"
KKN05 = kkr.drop(['ที่','เฉลี่ย'],axis=1)
KKN05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN005 = KKN05.stack().reset_index()
KKN005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
KKN005['เดือน'] = KKN005['เดือน/ปี'].dt.month
KKN005['ปี'] = KKN005['เดือน/ปี'].dt.year
newKKN5 = KKN005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newKKN5

      จังหวัด                     สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011      1.4
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011     17.7
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011        3
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011        0
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011      2.2
...       ...                       ...     ...    ...   ...      ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      27      2  2022        0
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022        -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022        -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022        -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022        -

[1705 rows x 6 columns]

In [50]:
npr['จังหวัด'] = "นครพนม"
NPM05 = npr.drop(['ที่','เฉลี่ย'],axis=1)
NPM05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM005 = NPM05.stack().reset_index()
NPM005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
NPM005['เดือน'] = NPM005['เดือน/ปี'].dt.month
NPM005['ปี'] = NPM005['เดือน/ปี'].dt.year
newNPM5 = NPM005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newNPM5

     จังหวัด                   สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011       17
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011      0.3
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011        0
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011      0.3
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011      1.9
...      ...                     ...     ...    ...   ...      ...
1700  นครพนม  357201-นครพนม จ.นครพนม      27      2  2022        0
1701  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022        0
1702  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022        -
1703  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022        -
1704  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022        -

[1705 rows x 6 columns]

In [51]:
lr['จังหวัด'] = "เลย"
LEI05 = lr.drop(['ที่','เฉลี่ย'],axis=1)
LEI05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI005 = LEI05.stack().reset_index()
LEI005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
LEI005['เดือน'] = LEI005['เดือน/ปี'].dt.month
LEI005['ปี'] = LEI005['เดือน/ปี'].dt.year
newLEI5 = LEI005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newLEI5

     จังหวัด             สถานี  วันที่  เดือน    ปี ปริมาณฝน
0        เลย  353201-เลย จ.เลย       1     10  2011     21.6
1        เลย  353201-เลย จ.เลย       2     10  2011    111.4
2        เลย  353201-เลย จ.เลย       3     10  2011      0.4
3        เลย  353201-เลย จ.เลย       4     10  2011        0
4        เลย  353201-เลย จ.เลย       5     10  2011        0
...      ...               ...     ...    ...   ...      ...
1698     เลย  353201-เลย จ.เลย      27      2  2022        0
1699     เลย  353201-เลย จ.เลย      28      2  2022        0
1700     เลย  353201-เลย จ.เลย      29      2  2022        -
1701     เลย  353201-เลย จ.เลย      30      2  2022        -
1702     เลย  353201-เลย จ.เลย      31      2  2022        -

[1703 rows x 6 columns]

In [52]:
skr['จังหวัด'] = "สกลนคร"
SNK05 = skr.drop(['ที่','เฉลี่ย'],axis=1)
SNK05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK005 = SNK05.stack().reset_index()
SNK005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
SNK005['เดือน'] = SNK005['เดือน/ปี'].dt.month
SNK005['ปี'] = SNK005['เดือน/ปี'].dt.year
newSNK5 = SNK005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newSNK5

     จังหวัด                   สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011     84.8
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011     28.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011        0
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011        T
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011      5.5
...      ...                     ...     ...    ...   ...      ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร      27      2  2022        0
1701  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022        -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022        -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022        -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022        -

[1705 rows x 6 columns]

In [53]:
nkr['จังหวัด'] = "หนองคาย"
NKI05 = nkr.drop(['ที่','เฉลี่ย'],axis=1)
NKI05.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI005 = NKI05.stack().reset_index()
NKI005.rename(columns = {'level_3':'วันที่',0:'ปริมาณฝน'}, inplace = True)
NKI005['เดือน'] = NKI005['เดือน/ปี'].dt.month
NKI005['ปี'] = NKI005['เดือน/ปี'].dt.year
newNKI5 = NKI005[['จังหวัด','สถานี','วันที่','เดือน','ปี','ปริมาณฝน']]
newNKI5

      จังหวัด                     สถานี  วันที่  เดือน    ปี ปริมาณฝน
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011     48.6
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011       59
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011        0
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011        1
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011     19.1
...       ...                       ...     ...    ...   ...      ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย      27      2  2022        0
1701  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022        0
1702  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022        -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022        -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022        -

[1705 rows x 6 columns]

## อุณหภูมิจุดน้ำค้าง

In [54]:
kkd['จังหวัด'] = "ขอนแก่น"
KKN06 = kkd.drop(['ที่','เฉลี่ย'],axis=1)
KKN06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN006 = KKN06.stack().reset_index()
KKN006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
KKN006['เดือน'] = KKN006['เดือน/ปี'].dt.month
KKN006['ปี'] = KKN006['เดือน/ปี'].dt.year
newKKN6 = KKN006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newKKN6

,จังหวัด,สถานี,วันที่,เดือน,ปี,อุณหภูมิจุดน้ำค้าง
0,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,1,10,2011,24.2
1,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,2,10,2011,24.0
2,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,3,10,2011,22.9
3,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,4,10,2011,21.9
4,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,5,10,2011,21.7
...,...,...,...,...,...,...
1700,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,27,2,2022,15.7
1701,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,28,2,2022,17.5
1702,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,29,2,2022,-
1703,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,30,2,2022,-
1704,ขอนแก่น,381201-ขอนแก่น จ.ขอนแก่น,31,2,2022,-

In [55]:
npd['จังหวัด'] = "นครพนม"
NPM06 = npd.drop(['ที่','เฉลี่ย'],axis=1)
NPM06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM006 = NPM06.stack().reset_index()
NPM006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
NPM006['เดือน'] = NPM006['เดือน/ปี'].dt.month
NPM006['ปี'] = NPM006['เดือน/ปี'].dt.year
newNPM6 = NPM006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newNPM6

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011               25.1
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011               23.1
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011               20.1
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011               18.9
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011               20.7
...      ...                     ...     ...    ...   ...                ...
1700  นครพนม  357201-นครพนม จ.นครพนม      27      2  2022               13.2
1701  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022               14.9
1702  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                  -
1703  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                  -
1704  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                  -

[1705 rows x 6 columns]

In [56]:
ld['จังหวัด'] = "เลย"
LEI06 = ld.drop(['ที่','เฉลี่ย'],axis=1)
LEI06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI006 = LEI06.stack().reset_index()
LEI006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
LEI006['เดือน'] = LEI006['เดือน/ปี'].dt.month
LEI006['ปี'] = LEI006['เดือน/ปี'].dt.year
newLEI6 = LEI006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newLEI6

     จังหวัด             สถานี  วันที่  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0        เลย  353201-เลย จ.เลย       1     10  2011               23.6
1        เลย  353201-เลย จ.เลย       2     10  2011               23.5
2        เลย  353201-เลย จ.เลย       3     10  2011               21.9
3        เลย  353201-เลย จ.เลย       4     10  2011               21.9
4        เลย  353201-เลย จ.เลย       5     10  2011               21.8
...      ...               ...     ...    ...   ...                ...
1544     เลย  353201-เลย จ.เลย      27      2  2021               13.8
1545     เลย  353201-เลย จ.เลย      28      2  2021               15.2
1546     เลย  353201-เลย จ.เลย      29      2  2021                  -
1547     เลย  353201-เลย จ.เลย      30      2  2021                  -
1548     เลย  353201-เลย จ.เลย      31      2  2021                  -

[1549 rows x 6 columns]

In [57]:
skd['จังหวัด'] = "สกลนคร"
SNK06 = skd.drop(['ที่','เฉลี่ย'],axis=1)
SNK06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK006 = SNK06.stack().reset_index()
SNK006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
SNK006['เดือน'] = SNK006['เดือน/ปี'].dt.month
SNK006['ปี'] = SNK006['เดือน/ปี'].dt.year
newSNK6 = SNK006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newSNK6

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิจุดน้ำค้าง
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011               24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011               23.6
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011               21.1
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011               20.0
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011               21.2
...      ...                     ...     ...    ...   ...                ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร      27      2  2022               15.7
1701  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022               17.3
1702  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022                  -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022                  -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022                  -

[1705 rows x 6 columns]

In [58]:
nkd['จังหวัด'] = "หนองคาย"
NKI06 = nkd.drop(['ที่','เฉลี่ย'],axis=1)
NKI06.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI006 = NKI06.stack().reset_index()
NKI006.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิจุดน้ำค้าง'}, inplace = True)
NKI006['เดือน'] = NKI006['เดือน/ปี'].dt.month
NKI006['ปี'] = NKI006['เดือน/ปี'].dt.year
newNKI6 = NKI006[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
newNKI6

,จังหวัด,สถานี,วันที่,เดือน,ปี,อุณหภูมิจุดน้ำค้าง
0,หนองคาย,352201-หนองคาย จ.หนองคาย,1,10,2011,24.6
1,หนองคาย,352201-หนองคาย จ.หนองคาย,2,10,2011,23.8
2,หนองคาย,352201-หนองคาย จ.หนองคาย,3,10,2011,22.4
3,หนองคาย,352201-หนองคาย จ.หนองคาย,4,10,2011,21.9
4,หนองคาย,352201-หนองคาย จ.หนองคาย,5,10,2011,23.3
...,...,...,...,...,...,...
1700,หนองคาย,352201-หนองคาย จ.หนองคาย,27,2,2022,15.8
1701,หนองคาย,352201-หนองคาย จ.หนองคาย,28,2,2022,17.8
1702,หนองคาย,352201-หนองคาย จ.หนองคาย,29,2,2022,16.6
1703,หนองคาย,352201-หนองคาย จ.หนองคาย,30,2,2022,14.9
1704,หนองคาย,352201-หนองคาย จ.หนองคาย,31,2,2022,-

## อุณหภูมิต่ำสุด

In [59]:
kktl['จังหวัด'] = "ขอนแก่น"
KKN07 = kktl.drop(['ที่','เฉลี่ย'],axis=1)
KKN07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN007 = KKN07.stack().reset_index()
KKN007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
KKN007['เดือน'] = KKN007['เดือน/ปี'].dt.month
KKN007['ปี'] = KKN007['เดือน/ปี'].dt.year
newKKN7 = KKN007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newKKN7

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011           24.8
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011           23.0
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011           22.1
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011           22.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011           23.1
...       ...                       ...     ...    ...   ...            ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      27      2  2022           18.2
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022              -
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022              -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022              -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022              -

[1705 rows x 6 columns]

In [60]:
nptl['จังหวัด'] = "นครพนม"
NPM07 = nptl.drop(['ที่','เฉลี่ย'],axis=1)
NPM07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM007 = NPM07.stack().reset_index()
NPM007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
NPM007['เดือน'] = NPM007['เดือน/ปี'].dt.month
NPM007['ปี'] = NPM007['เดือน/ปี'].dt.year
newNPM7 = NPM007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newNPM7

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011           25.0
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011           23.4
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011           22.2
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011           20.6
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011           21.1
...      ...                     ...     ...    ...   ...            ...
1700  นครพนม  357201-นครพนม จ.นครพนม      27      2  2022           18.1
1701  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022             16
1702  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022              -
1703  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022              -
1704  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022              -

[1705 rows x 6 columns]

In [61]:
ltl['จังหวัด'] = "เลย"
LEI07 = ltl.drop(['ที่','เฉลี่ย'],axis=1)
LEI07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI007 = LEI07.stack().reset_index()
LEI007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
LEI007['เดือน'] = LEI007['เดือน/ปี'].dt.month
LEI007['ปี'] = LEI007['เดือน/ปี'].dt.year
newLEI7 = LEI007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newLEI7

     จังหวัด             สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0        เลย  353201-เลย จ.เลย       1     10  2011           23.5
1        เลย  353201-เลย จ.เลย       2     10  2011           24.3
2        เลย  353201-เลย จ.เลย       3     10  2011           22.5
3        เลย  353201-เลย จ.เลย       4     10  2011           23.0
4        เลย  353201-เลย จ.เลย       5     10  2011           22.7
...      ...               ...     ...    ...   ...            ...
1700     เลย  353201-เลย จ.เลย      27      2  2022           15.0
1701     เลย  353201-เลย จ.เลย      28      2  2022           17.6
1702     เลย  353201-เลย จ.เลย      29      2  2022              -
1703     เลย  353201-เลย จ.เลย      30      2  2022              -
1704     เลย  353201-เลย จ.เลย      31      2  2022              -

[1705 rows x 6 columns]

In [62]:
sktl['จังหวัด'] = "สกลนคร"
SNK07 = sktl.drop(['ที่','เฉลี่ย'],axis=1)
SNK07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK007 = SNK07.stack().reset_index()
SNK007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
SNK007['เดือน'] = SNK007['เดือน/ปี'].dt.month
SNK007['ปี'] = SNK007['เดือน/ปี'].dt.year
newSNK7 = SNK007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newSNK7

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011           24.5
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011           23.1
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011           22.6
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011           21.8
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011           22.5
...      ...                     ...     ...    ...   ...            ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร      27      2  2022           16.1
1701  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022              -
1702  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022              -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022              -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022              -

[1705 rows x 6 columns]

In [63]:
nktl['จังหวัด'] = "หนองคาย"
NKI07 = nktl.drop(['ที่','เฉลี่ย'],axis=1)
NKI07.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI007 = NKI07.stack().reset_index()
NKI007.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิต่ำสุด'}, inplace = True)
NKI007['เดือน'] = NKI006['เดือน/ปี'].dt.month
NKI007['ปี'] = NKI007['เดือน/ปี'].dt.year
newNKI7 = NKI007[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
newNKI7

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิต่ำสุด
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011           25.3
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011           23.3
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011           23.6
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011           23.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011           23.3
...       ...                       ...     ...    ...   ...            ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย      27      2  2022           17.5
1701  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022             19
1702  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022              -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022              -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022              -

[1705 rows x 6 columns]

## อุณหภูมิตุ้มแห้ง

In [64]:
kkt['จังหวัด'] = "ขอนแก่น"
KKN08 = kkt.drop(['ที่','เฉลี่ย'],axis=1)
KKN08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
KKN008 = KKN08.stack().reset_index()
KKN008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
KKN008['เดือน'] = KKN008['เดือน/ปี'].dt.month
KKN008['ปี'] = KKN008['เดือน/ปี'].dt.year
newKKN8 = KKN008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newKKN8

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       1     10  2011             27.6
1     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       2     10  2011             25.6
2     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       3     10  2011             25.6
3     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       4     10  2011             25.8
4     ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น       5     10  2011             24.3
...       ...                       ...     ...    ...   ...              ...
1700  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      27      2  2022             25.1
1701  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      28      2  2022             25.9
1702  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      29      2  2022                -
1703  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      30      2  2022                -
1704  ขอนแก่น  381201-ขอนแก่น จ.ขอนแก่น      31      2  2022                -

[1705 rows x 6 columns]

In [65]:
npt['จังหวัด'] = "นครพนม"
NPM08 = npt.drop(['ที่','เฉลี่ย'],axis=1)
NPM08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NPM008 = NPM08.stack().reset_index()
NPM008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
NPM008['เดือน'] = NPM008['เดือน/ปี'].dt.month
NPM008['ปี'] = NPM008['เดือน/ปี'].dt.year
newNPM8 = NPM008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newNPM8

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     นครพนม  357201-นครพนม จ.นครพนม       1     10  2011             25.9
1     นครพนม  357201-นครพนม จ.นครพนม       2     10  2011             26.1
2     นครพนม  357201-นครพนม จ.นครพนม       3     10  2011             25.3
3     นครพนม  357201-นครพนม จ.นครพนม       4     10  2011             24.7
4     นครพนม  357201-นครพนม จ.นครพนม       5     10  2011             23.1
...      ...                     ...     ...    ...   ...              ...
1700  นครพนม  357201-นครพนม จ.นครพนม      27      2  2022             24.1
1701  นครพนม  357201-นครพนม จ.นครพนม      28      2  2022             24.0
1702  นครพนม  357201-นครพนม จ.นครพนม      29      2  2022                -
1703  นครพนม  357201-นครพนม จ.นครพนม      30      2  2022                -
1704  นครพนม  357201-นครพนม จ.นครพนม      31      2  2022                -

[1705 rows x 6 columns]

In [66]:
lt['จังหวัด'] = "เลย"
LEI08 = lt.drop(['ที่','เฉลี่ย'],axis=1)
LEI08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
LEI008 = LEI08.stack().reset_index()
LEI008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
LEI008['เดือน'] = LEI008['เดือน/ปี'].dt.month
LEI008['ปี'] = LEI008['เดือน/ปี'].dt.year
newLEI8 = LEI008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newLEI8

     จังหวัด             สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0        เลย  353201-เลย จ.เลย       1     10  2011             26.3
1        เลย  353201-เลย จ.เลย       2     10  2011             25.1
2        เลย  353201-เลย จ.เลย       3     10  2011             24.4
3        เลย  353201-เลย จ.เลย       4     10  2011             25.2
4        เลย  353201-เลย จ.เลย       5     10  2011             25.6
...      ...               ...     ...    ...   ...              ...
1545     เลย  353201-เลย จ.เลย      27      2  2021             25.2
1546     เลย  353201-เลย จ.เลย      28      2  2021             25.6
1547     เลย  353201-เลย จ.เลย      29      2  2021                -
1548     เลย  353201-เลย จ.เลย      30      2  2021                -
1549     เลย  353201-เลย จ.เลย      31      2  2021                -

[1550 rows x 6 columns]

In [67]:
skt['จังหวัด'] = "สกลนคร"
SNK08 = skt.drop(['ที่','เฉลี่ย'],axis=1)
SNK08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
SNK008 = SNK08.stack().reset_index()
SNK008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
SNK008['เดือน'] = SNK008['เดือน/ปี'].dt.month
SNK008['ปี'] = SNK008['เดือน/ปี'].dt.year
newSNK8 = SNK008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newSNK8

     จังหวัด                   สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     สกลนคร  356201-สกลนคร จ.สกลนคร       1     10  2011             26.9
1     สกลนคร  356201-สกลนคร จ.สกลนคร       2     10  2011             25.9
2     สกลนคร  356201-สกลนคร จ.สกลนคร       3     10  2011             25.7
3     สกลนคร  356201-สกลนคร จ.สกลนคร       4     10  2011             25.2
4     สกลนคร  356201-สกลนคร จ.สกลนคร       5     10  2011             23.6
...      ...                     ...     ...    ...   ...              ...
1700  สกลนคร  356201-สกลนคร จ.สกลนคร      27      2  2022             23.2
1701  สกลนคร  356201-สกลนคร จ.สกลนคร      28      2  2022             24.4
1702  สกลนคร  356201-สกลนคร จ.สกลนคร      29      2  2022                -
1703  สกลนคร  356201-สกลนคร จ.สกลนคร      30      2  2022                -
1704  สกลนคร  356201-สกลนคร จ.สกลนคร      31      2  2022                -

[1705 rows x 6 columns]

In [68]:
nkt['จังหวัด'] = "หนองคาย"
NKI08 = nkt.drop(['ที่','เฉลี่ย'],axis=1)
NKI08.set_index(['จังหวัด','สถานี','เดือน/ปี'],inplace=True)
NKI008 = NKI08.stack().reset_index()
NKI008.rename(columns = {'level_3':'วันที่',0:'อุณหภูมิตุ้มแห้ง'}, inplace = True)
NKI008['เดือน'] = NKI008['เดือน/ปี'].dt.month
NKI008['ปี'] = NKI008['เดือน/ปี'].dt.year
newNKI8 = NKI008[['จังหวัด','สถานี','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]
newNKI8

      จังหวัด                     สถานี  วันที่  เดือน    ปี อุณหภูมิตุ้มแห้ง
0     หนองคาย  352201-หนองคาย จ.หนองคาย       1     10  2011             26.7
1     หนองคาย  352201-หนองคาย จ.หนองคาย       2     10  2011             25.5
2     หนองคาย  352201-หนองคาย จ.หนองคาย       3     10  2011             27.0
3     หนองคาย  352201-หนองคาย จ.หนองคาย       4     10  2011             26.8
4     หนองคาย  352201-หนองคาย จ.หนองคาย       5     10  2011             24.9
...       ...                       ...     ...    ...   ...              ...
1700  หนองคาย  352201-หนองคาย จ.หนองคาย      27      2  2022             23.8
1701  หนองคาย  352201-หนองคาย จ.หนองคาย      28      2  2022             25.4
1702  หนองคาย  352201-หนองคาย จ.หนองคาย      29      2  2022                -
1703  หนองคาย  352201-หนองคาย จ.หนองคาย      30      2  2022                -
1704  หนองคาย  352201-หนองคาย จ.หนองคาย      31      2  2022                -

[1705 rows x 6 columns]

# ต่อตารางรวมหัวข้อของแต่ละจังหวัด

##ขอนแก่น

In [69]:
kk_pres4 = newKKN1[['จังหวัด','วันที่','เดือน','ปี','ความกด']]
kk_hu4 = newKKN2[['จังหวัด','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
kk_dry4 = newKKN3[['จังหวัด','วันที่','เดือน','ปี','ความเร็วลม']]
kk_dewp4 = newKKN4[['จังหวัด','วันที่','เดือน','ปี','จำนวนเมฆ']] 
kk_lowt4 = newKKN5[['จังหวัด','วันที่','เดือน','ปี','ปริมาณฝน']]
kk_cl4 = newKKN6[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
kk_rain4 = newKKN7[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
kk_wind4 = newKKN8[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [70]:
kk1 = pd.merge(kk_pres4,kk_hu4)
kk2 = pd.merge(kk1,kk_dry4)
kk3 = pd.merge(kk2,kk_dewp4)
kk4 = pd.merge(kk3,kk_lowt4)
kk5 = pd.merge(kk4,kk_cl4)
kk6 = pd.merge(kk5,kk_rain4)
kk7 = pd.merge(kk6,kk_wind4)
kk7

,จังหวัด,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,24.8,27.6
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,23.0,25.6
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,22.1,25.6
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,22.8,25.8
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,23.1,24.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1700,ขอนแก่น,27,2,2022,1014.37,58,2,2,0,15.7,18.2,25.1
1701,ขอนแก่น,28,2,2022,1013.04,62,2,2,-,17.5,-,25.9
1702,ขอนแก่น,29,2,2022,1013.37,-,-,-,-,-,-,-
1703,ขอนแก่น,30,2,2022,1013.98,-,-,-,-,-,-,-
1704,ขอนแก่น,31,2,2022,-,-,-,-,-,-,-,-

##นครพนม

In [71]:
np_pres4 = newNPM1[['จังหวัด','วันที่','เดือน','ปี','ความกด']]
np_hu4 = newNPM2[['จังหวัด','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
np_dry4 = newNPM3[['จังหวัด','วันที่','เดือน','ปี','ความเร็วลม']]
np_dewp4 = newNPM4[['จังหวัด','วันที่','เดือน','ปี','จำนวนเมฆ']] 
np_lowt4 = newNPM5[['จังหวัด','วันที่','เดือน','ปี','ปริมาณฝน']]
np_cl4 = newNPM6[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
np_rain4 = newNPM7[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
np_wind4 = newNPM8[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [72]:
np1 = pd.merge(np_pres4,np_hu4)
np2 = pd.merge(np1,np_dry4)
np3 = pd.merge(np2,np_dewp4)
np4 = pd.merge(np3,np_lowt4)
np5 = pd.merge(np4,np_cl4)
np6 = pd.merge(np5,np_rain4)
np7 = pd.merge(np6,np_wind4)
np7

,จังหวัด,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,นครพนม,1,10,2011,1006.3,95,1,10,17,25.1,25.0,25.9
1,นครพนม,2,10,2011,1007.38,84,1,7,0.3,23.1,23.4,26.1
2,นครพนม,3,10,2011,1008.07,74,2,8,0,20.1,22.2,25.3
3,นครพนม,4,10,2011,1008.44,72,2,8,0.3,18.9,20.6,24.7
4,นครพนม,5,10,2011,1010.51,87,1,10,1.9,20.7,21.1,23.1
...,...,...,...,...,...,...,...,...,...,...,...,...
1700,นครพนม,27,2,2022,1016.43,52,2,1,0,13.2,18.1,24.1
1701,นครพนม,28,2,2022,1013.53,60,1,0,0,14.9,16,24.0
1702,นครพนม,29,2,2022,1013.37,-,-,-,-,-,-,-
1703,นครพนม,30,2,2022,1013.98,-,-,-,-,-,-,-
1704,นครพนม,31,2,2022,-,-,-,-,-,-,-,-

##เลย

In [73]:
l_pres4 = newLEI1[['จังหวัด','วันที่','เดือน','ปี','ความกด']]
l_hu4 = newLEI2[['จังหวัด','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
l_dry4 = newLEI3[['จังหวัด','วันที่','เดือน','ปี','ความเร็วลม']]
l_dewp4 = newLEI4[['จังหวัด','วันที่','เดือน','ปี','จำนวนเมฆ']] 
l_lowt4 = newLEI5[['จังหวัด','วันที่','เดือน','ปี','ปริมาณฝน']]
l_cl4 = newLEI6[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
l_rain4 = newLEI7[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
l_wind4 = newLEI8[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [74]:
l1 = pd.merge(l_pres4,l_hu4)
l2 = pd.merge(l1,l_dry4)
l3 = pd.merge(l2,l_dewp4)
l4 = pd.merge(l3,l_lowt4)
l5 = pd.merge(l4,l_cl4)
l6 = pd.merge(l5,l_rain4)
l7 = pd.merge(l6,l_wind4)
l7

,จังหวัด,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,เลย,1,10,2011,1005.12,90,2,8,21.6,23.6,23.5,26.3
1,เลย,2,10,2011,1006.51,95,2,10,111.4,23.5,24.3,25.1
2,เลย,3,10,2011,1007.81,92,3,10,0.4,21.9,22.5,24.4
3,เลย,4,10,2011,1008.15,89,2,9,0,21.9,23.0,25.2
4,เลย,5,10,2011,1009.21,86,3,8,0,21.8,22.7,25.6
...,...,...,...,...,...,...,...,...,...,...,...,...
1542,เลย,27,2,2021,1005.76,56,1,2,0,13.8,15.3,25.2
1543,เลย,28,2,2021,1008.21,58,1,1,0,15.2,16,25.6
1544,เลย,29,2,2021,-,-,-,4,-,-,-,-
1545,เลย,30,2,2021,-,-,-,-,-,-,-,-
1546,เลย,31,2,2021,-,-,-,-,-,-,-,-

##สกลนคร

In [75]:
sk_pres4 = newSNK1[['จังหวัด','วันที่','เดือน','ปี','ความกด']]
sk_hu4 = newSNK2[['จังหวัด','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
sk_dry4 = newSNK3[['จังหวัด','วันที่','เดือน','ปี','ความเร็วลม']]
sk_dewp4 = newSNK4[['จังหวัด','วันที่','เดือน','ปี','จำนวนเมฆ']]  
sk_lowt4 = newSNK5[['จังหวัด','วันที่','เดือน','ปี','ปริมาณฝน']]
sk_cl4 = newSNK6[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
sk_rain4 = newSNK7[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
sk_wind4 = newSNK8[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [76]:
sk1 = pd.merge(sk_pres4,sk_hu4)
sk2 = pd.merge(sk1,sk_dry4)
sk3 = pd.merge(sk2,sk_dewp4)
sk4 = pd.merge(sk3,sk_lowt4)
sk5 = pd.merge(sk4,sk_cl4)
sk6 = pd.merge(sk5,sk_rain4)
sk7 = pd.merge(sk6,sk_wind4)
sk7

,จังหวัด,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,สกลนคร,1,10,2011,1005.84,87,1,9,84.8,24.5,24.5,26.9
1,สกลนคร,2,10,2011,1007.16,88,1,9,28.1,23.6,23.1,25.9
2,สกลนคร,3,10,2011,1007.87,77,2,7,0,21.1,22.6,25.7
3,สกลนคร,4,10,2011,1008.56,75,2,7,T,20.0,21.8,25.2
4,สกลนคร,5,10,2011,1010.55,87,1,9,5.5,21.2,22.5,23.6
...,...,...,...,...,...,...,...,...,...,...,...,...
1700,สกลนคร,27,2,2022,1014.95,65,3,3,0,15.7,16.1,23.2
1701,สกลนคร,28,2,2022,1012.89,68,2,0,-,17.3,-,24.4
1702,สกลนคร,29,2,2022,1013.37,-,-,1,-,-,-,-
1703,สกลนคร,30,2,2022,1013.98,-,-,1,-,-,-,-
1704,สกลนคร,31,2,2022,-,-,-,-,-,-,-,-

##หนองคาย

In [77]:
nk_pres4 = newNKI1[['จังหวัด','วันที่','เดือน','ปี','ความกด']]
nk_hu4 = newNKI2[['จังหวัด','วันที่','เดือน','ปี','ความชื้นสัมพัทธ์']]
nk_dry4 = newNKI3[['จังหวัด','วันที่','เดือน','ปี','ความเร็วลม']]
nk_dewp4 = newNKI4[['จังหวัด','วันที่','เดือน','ปี','จำนวนเมฆ']]
nk_lowt4 = newNKI5[['จังหวัด','วันที่','เดือน','ปี','ปริมาณฝน']]
nk_cl4 = newNKI6[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิจุดน้ำค้าง']]
nk_rain4 = newNKI7[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิต่ำสุด']]
nk_wind4 = newNKI8[['จังหวัด','วันที่','เดือน','ปี','อุณหภูมิตุ้มแห้ง']]

In [78]:
nk1 = pd.merge(nk_pres4,nk_hu4)
nk2 = pd.merge(nk1,nk_dry4)
nk3 = pd.merge(nk2,nk_dewp4)
nk4 = pd.merge(nk3,nk_lowt4)
nk5 = pd.merge(nk4,nk_cl4)
nk6 = pd.merge(nk5,nk_rain4)
nk7 = pd.merge(nk6,nk_wind4)
nk7

,จังหวัด,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,หนองคาย,1,10,2011,1006.3,89,1,10,48.6,24.6,25.3,26.7
1,หนองคาย,2,10,2011,1007.38,91,4,10,59,23.8,23.3,25.5
2,หนองคาย,3,10,2011,1008.07,78,4,8,0,22.4,23.6,27.0
3,หนองคาย,4,10,2011,1008.44,75,2,9,1,21.9,23.8,26.8
4,หนองคาย,5,10,2011,1010.51,90,1,9,19.1,23.3,23.3,24.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1697,หนองคาย,27,2,2022,1016.43,62,2,3,0,15.8,17.5,23.8
1698,หนองคาย,28,2,2022,1013.53,65,2,2,0,17.8,19,25.4
1699,หนองคาย,29,2,2022,1013.37,-,-,1,-,16.6,-,-
1700,หนองคาย,30,2,2022,1013.98,-,-,1,-,14.9,-,-
1701,หนองคาย,31,2,2022,-,-,-,-,-,-,-,-

# รวมทุกตาราง Final Table

In [79]:
FinalTable = pd.concat([kk7,np7,l7,sk7,nk7])
FinalTable

,จังหวัด,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,24.8,27.6
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,23.0,25.6
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,22.1,25.6
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,22.8,25.8
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,23.1,24.3
...,...,...,...,...,...,...,...,...,...,...,...,...
1697,หนองคาย,27,2,2022,1016.43,62,2,3,0,15.8,17.5,23.8
1698,หนองคาย,28,2,2022,1013.53,65,2,2,0,17.8,19,25.4
1699,หนองคาย,29,2,2022,1013.37,-,-,1,-,16.6,-,-
1700,หนองคาย,30,2,2022,1013.98,-,-,1,-,14.9,-,-
1701,หนองคาย,31,2,2022,-,-,-,-,-,-,-,-

In [80]:
import pandas as pd
import numpy as np
from datetime import datetime

In [81]:
cols=["ปี","เดือน","วันที่"]
FinalTable['date'] = FinalTable[cols].apply(lambda x: '-'.join(x.values.astype(str)), axis="columns")
FinalTable['date'] = pd.to_datetime(FinalTable['date'], errors='coerce')
FinalTable = FinalTable.dropna(subset=['date'])
FinalTable

,จังหวัด,วันที่,เดือน,ปี,ความกด,ความชื้นสัมพัทธ์,ความเร็วลม,จำนวนเมฆ,ปริมาณฝน,อุณหภูมิจุดน้ำค้าง,อุณหภูมิต่ำสุด,อุณหภูมิตุ้มแห้ง,date
0,ขอนแก่น,1,10,2011,1005.47,83,3,9,1.4,24.2,24.8,27.6,2011-10-01
1,ขอนแก่น,2,10,2011,1006.65,92,2,10,17.7,24.0,23.0,25.6,2011-10-02
2,ขอนแก่น,3,10,2011,1007.49,86,3,10,3,22.9,22.1,25.6,2011-10-03
3,ขอนแก่น,4,10,2011,1008.28,80,2,8,0,21.9,22.8,25.8,2011-10-04
4,ขอนแก่น,5,10,2011,1009.88,86,2,10,2.2,21.7,23.1,24.3,2011-10-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1694,หนองคาย,24,2,2022,1020.63,66,2,1,0,13.2,14.0,20.3,2022-02-24
1695,หนองคาย,25,2,2022,1019.32,68,2,1,0,14.3,13.9,20.7,2022-02-25
1696,หนองคาย,26,2,2022,1017.28,65,1,0,0,15.2,15.0,22.7,2022-02-26
1697,หนองคาย,27,2,2022,1016.43,62,2,3,0,15.8,17.5,23.8,2022-02-27
1698,หนองคาย,28,2,2022,1013.53,65,2,2,0,17.8,19,25.4,2022-02-28

In [82]:
FinalTable.to_csv(r'/content/drive/MyDrive/Data Mining/Quiz ก่อน Mid/Group3_ณัฐธิดา_ศุภัสรา_เฉลิมเกียรติ_พิทวัส.csv', index=False)